body {
   padding: 50px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
   color: #00B7FF;
}
body {
   padding: 50px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
   color: #00B7FF;
}

#booklist {
   border: solid 2px #404040;
   padding: 4px;
   margin: 10px auto;
}

tr.book {
   border: solid thin #404040;
   background-color: #E0E0E0;
}

td.author,
td.title {
   padding: 2px 5px;
}

td.author {
   color: green;
}